{% extends "main/base.html" %}
{% load static %}

{% block title %}Help & Support{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/setting-sidebar.css' %}">
{% endblock %}

{% block content %}
<div class="settings-container">

    <!-- SIDEBAR -->
    <aside class="settings-nav">
        <ul class="nav-links">
            <li>
                <a href="{% url 'settings_account' %}">
                    Account
                </a>
            </li>
            <li>
                <a href="{% url 'settings_privacy' %}">
                    Privacy
                </a>
            </li>
            <li>
                <a href="{% url 'settings_language' %}">
                    Language &amp; Appearance
                </a>
            </li>
            <li>
                <a href="{% url 'settings_security' %}">
                    Security
                </a>
            </li>
            <li>
                <a href="{% url 'settings_data_control' %}">
                    Data &amp; Account Control
                </a>
            </li>
            <li>
                <a href="{% url 'settings_help' %}" class="sidebar-highlight-bg">
                    Help &amp; Support
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="logout-link">
                    Log Out
                </a>
            </li>
        </ul>
    </aside>

    <main class="settings-content">
        <h2>Help &amp; Support</h2>
        
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="{% url 'contact_us' %}">Contact support</a></li>
            <li><a href="#">Report a problem</a></li>
            <li><a href="#">Terms of Service</a> / <a href="#">Privacy Policy</a></li>
        </ul>
    </main>
</div>
{% endblock %}
