# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal
media/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Static files (optional)
# =========================
staticfiles/

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Migrations (OPTIONAL)
# =========================
# Uncomment if you DON'T want to track migrations
# */migrations/
# !*/migrations/__init__.py
